# 'Likes' Report
## Connor Farrar, 9/15/23

## Theory

A majority of the user's likes will be concentrated on posts made by around four or five 'favorite' accounts. If a user frequently visits a certain account, they are more likely to like the posts on those frequently visited accounts rather than miscellanious posts by random accounts.

Theoretically, I believe that users are more likely to like posts made by their select 'favorite' acounts (people they follow or acoutns they frequently look at) rather than just liking randmom posts they scroll past. This can be measured by how many likes a are attributed to a certain acount. If four or five acounts are attributed with the majority of total likes, then my thoery is correct.  


The liked_posts.json file is best for finding this data as it displays how many likes are attributed to specific acounts. This is the exact data I need in order to test my hypothesis.

## Data Reliabality

### Who collected this data?

This data was collected by an algorithm designed by Instagram. 

### Why was this data collected?

This data was collected because I, the user, requested it to be collected for me.

### In what ways may this data be reliable?

If the data is taken straight from my Instagram account and is accurate, then it is at least somewhat reliable.  

### In what ways may this data be unreliable?

The data I downloaded is unreliable in many ways. Most noticably, the data does not match the data seen on my Instagram acount. The data provided by Instagram is incomplete, wiht many of the different files only containing a portion of the data that I would expect. For example, the liked_posts.json file only lists one liked post. However, on the instagram app my account is listed as having nine seperate liked posts. The following.json file only lists two acounts that I am following yet the Instagram app shows me following 27 different acounts. 

These examples show that the information I downloaded is unreliable, but it also points to the overall system being unreliable. If the data I downloaded through Instagram's process is inccorrect, then not only is my data unreliable but also Instagram's download system itself. Whatever algorithm or system Instagram uses to provide users with their data to download is possibly unreliable. In my case, I have very little data that I need to compare in order to find differences between the data displayed on the app and the data I downloaded. However, for user's with larger quantities of data that discrepency may not be so obvious. User's who have hundreds or thousands of liked posts may not be able to identify any discrepencies in their downloaded data due to the sheer quantity they would have to sift through. So in some cases, user's may have downloaded unreliable data without ever knowing it.

This all points to the data provided by Instagram being unreliable. If the algorithm used to provide user's data made a mistake once, it is reasonable to assume that it may happen again.

In [77]:
import pandas as pd
import json

After importing pandas, create a dictionary labeled likes_report using the filepath to the 'likes' data downloaded form Instagram.

In [78]:
with open('/Users/tallconnor/Desktop/Data In EMAT/Social Media Info/Instagram/connormfarrar_20230904/likes/liked_posts.json') as j:
    likes_report = json.load(j)

Call likes_report to visualize whats included in the dictionary and then call llikes_report.keys() to display all the keys in that dictionary.

In [79]:
likes_report

{'likes_media_likes': [{'title': 'connormfarrar',
   'string_list_data': [{'href': 'https://www.instagram.com/p/CrZdvv6Ls4o/',
     'value': 'รฐ\x9f\x91\x8d',
     'timestamp': 1682294357}]}]}

In [80]:
likes_report.keys()

dict_keys(['likes_media_likes'])

Call likes_report using the 'likes_media_likes' key seen above to simplify the dictionary.

In [81]:
likes_report['likes_media_likes']

[{'title': 'connormfarrar',
  'string_list_data': [{'href': 'https://www.instagram.com/p/CrZdvv6Ls4o/',
    'value': 'รฐ\x9f\x91\x8d',
    'timestamp': 1682294357}]}]

Create a data frame from the likes_report dictionary using the 'likes_media_likes' key again, labeled likes_time.

Then call that data frame to visualize it.

In [82]:
likes_time = pd.DataFrame(likes_report['likes_media_likes'])

In [83]:
likes_time

           title                                   string_list_data
0  connormfarrar  [{'href': 'https://www.instagram.com/p/CrZdvv6...

In order to add a timestamps column, there needs to be a way to call the timestamps value from the dictionary despite it not being a key. In order to do this, set time_list as the timestamps from the likes_report dict.

In [84]:
time_list = [x['string_list_data'][0]['timestamp'] for x in likes_report['likes_media_likes']]

Add timestamps as a column in the data frame.

In [85]:
likes_time['timestamps'] = time_list

In [86]:
likes_time

,title,string_list_data,timestamps
0,connormfarrar,[{'href': 'https://www.instagram.com/p/CrZdvv6...,1682294357

Count the data under the string_list_data and timestamps lists and display those values next to their associated title. 

.groupby('title') sets the title list as the main column and then lists the other values collected by .count() that are associated with each title in the following columns.

In [87]:
likes_time.groupby('title').count()

               string_list_data  timestamps
title
connormfarrar                 1           1

## What the Data Says About My Thoery

With the data available to me it's not possible to thoroughly test my theory. Although taken at face value, my hypothesis is wrong since all the likes shown in my data are centered on one account, not four or five. However, the data I received is unreliable, so any conclusions drawn from the data are also unreliable. 

In order to properly assess my thoery I would need to collect a more full data set. Since the data I was working with was incomplete, I could not fully test my theory. So as a next step, I would gather a more full and reliable data set on which to test my theory.

If I were to further investigate my hypothesis, then I would look to the 'following' data. I wuld be looking to see if the user's likes are focused on followed accounts in place of 'favorite' accounts.

### ------------------------------------------------------

## Extra Work (Provided Data)

In [88]:
with open ('/Users/tallconnor/Desktop/Data In EMAT/Social Media Info/Provided Data/technogecko_20200714_toshare/likes.json') as j2:
    extra_report = json.load(j2)

In [89]:
extra_frame = pd.DataFrame(extra_report['media_likes'])

In [90]:
extra_frame

                             0                 1
0    2020-07-11T04:39:28+00:00   ball_doesnt_lie
1    2020-07-11T04:39:05+00:00   ball_doesnt_lie
2    2020-07-05T17:25:44+00:00     ali_saurusrex
3    2020-07-03T03:40:02+00:00  cacandassociates
4    2020-06-25T17:41:50+00:00  cacandassociates
..                         ...               ...
330  2013-02-05T02:58:46+00:00            natgeo
331  2013-02-05T02:22:24+00:00       aroseroar16
332  2013-02-05T01:29:31+00:00       aroseroar16
333  2013-02-04T17:42:04+00:00     ali_saurusrex
334  2013-02-04T17:39:15+00:00      a_matt_silva

[335 rows x 2 columns]

In [91]:
extra_frame.groupby(1).count()

                              0
1
a_matt_silva                 18
ali_saurusrex                68
andrewtcurry                  1
aroseroar16                  29
athenalemon                   1
ball_doesnt_lie               2
bianchi_usa                   2
bsnder                        5
cacandassociates             15
camecol501                    2
carswithoutlimits             1
catsandkilos                  1
cbarker13                     9
colin_storm                  11
danneabreanne                13
drchadlarson                 10
emmyr0o                      16
favoritedekruyfonthecitadel   4
holly.berry_22                1
ibiscycles                    1
inalull                      10
jackie.cc                     9
jennjohnn                     3
jessicaajeean                 2
jhushlordofthesith            1
johnnydhampton                1
jsevier                       1
kateblarson                   2
kellyc00k                     1
leleebabe                     3
lewkmiller                    2
melissarohwer                 1
meredith.wang                 9
miles_sari                    3
mtb_crohnert92                5
mycaninelife                  2
natgeo                        1
odonnellnic                   1
orangekoala2                 27
phd_comics                    1
poorlydrawnlines              2
priscillaannnnn               3
reams_esq                    16
rockymountainbicycles         1
rskinner90                    1
samrosehill                   2
samuel.rhodes                 2
shaunacoxsey                  1
silva_c097                    3
slemdawgmillionaire           1
sp4zie                        1
theradavist                   1
thesignpad                    1
transitionbikes               1
tslemmer                      2
vitalmtb                      1
wrenchscienceusa              1