In [76]:
import pandas as pd

### Data Collection Pt. 1
#### To start off, I looked at what game development companies suffered layoffs in 2023. I then chose five well known developers from that list to look into further. The five companies I decided to research were Bungie, EA, 343 Industries, Amazon Games, and Riot Games. These are all some of the largest and most successful game developers yet they all suffered layoffs in 2023.

## Sources
#### EA Layoffs: https://variety.com/2023/digital/news/electronic-arts-layoffs-employees-1235568329/?sub_action=logged_in
#### Bungie Layoffs: https://www.bloomberg.com/news/articles/2023-10-31/sony-s-bungie-game-unit-cut-jobs-as-destiny-2-popularity-waned#xj4y7vzkg
#### Amazon Layoffs: https://www.cnbc.com/2023/04/04/amazon-lays-off-some-employees-in-its-video-games-unit-read-the-memo.html 
#### 343 Studios Layoffs: https://www.gamesindustry.biz/343-layoffs-affected-95-including-top-directors 
#### Riot Games Layoffs: https://www.gamesindustry.biz/riot-games-lays-off-46-staff-as-part-of-strategic-shifts#:~:text=Valorant%20and%20League%20of%20Legends,in%20the%20past%20few%20weeks

In [77]:
layoffs_df = pd.DataFrame({'Studio': ['Bungie', 'EA', '343 Industries', 'Amazon Games', 'Riot Games'],
                   'Layoffs': [100, 800, 95, 100, 46]})
layoffs_df

           Studio  Layoffs
0          Bungie      100
1              EA      800
2  343 Industries       95
3    Amazon Games      100
4      Riot Games       46

### Data Collection Pt. 2
#### Next I needed data on the player count for these companies flagship titles. For every developer except for Riot Games, I was able to use steam charts to measure the player counts since the release of the measured games. For Bungie, I looked at the player count for Destiny 2, for EA I looked at the player count for FIFA, for 343 Industries I looked at the player count for Halo Infinite, for Amazon games I looked at the player count for New World, and for Riot Games I looked at the player count for League of Legends. 
#### These are all the flagship titles for these companies that have garnered the most players over the years. Amazon Games' New World released in 2021 along with 343 Industry's Halo Infinite, so I looked at the peak player count for each game in 2021 and 2023. I then found the difference between those two player counts. 

## Player Count Calculations
#### Destiny 2 / 2021: 187,504 / 2023: 316,651 / Difference: +129,147
#### FIFA / FIFA 2021: 43,733 / FIFA 2023: 110,757 / Difference: +67,024
#### Halo Infinite / 2021: 147,782 / 2023: 18,003 / Difference: -129,779
#### New World / 2021: 913,027 / 2023: 77,642 / Difference: -835,385
#### League of Legends / 2021: 13,948,310 / 2023: 10,233,639 / Difference: -3,714,671


## Sources
#### https://steamcharts.com/app/1085660 - Destiny 2 Players (Bungie)
#### https://steamcharts.com/app/1313860 - FIFA 21 Count (EA)
#### https://steamcharts.com/app/1811260 - FIFA 23 Count (EA)
#### https://steamcharts.com/app/1240440 - Halo Infinite Count (343)
#### https://steamcharts.com/app/1063730 - New World Count (Amazon)
#### https://activeplayer.io/league-of-legends/ - League of Legends (Riot)

In [78]:
playercount_df = pd.DataFrame({'Studio': ['Bungie', 'EA', '343 Industries', 'Amazon Games', 'Riot Games'],
                               'Game': ['Destiny 2', 'FIFA 21-23', 'Halo Infinite', 'New World', 'League of Legends'],
                               'Player Count Difference': [129147, 67024, -129779, -835385, -3714671]})
playercount_df

           Studio               Game  Player Count Difference
0          Bungie          Destiny 2                   129147
1              EA         FIFA 21-23                    67024
2  343 Industries      Halo Infinite                  -129779
3    Amazon Games          New World                  -835385
4      Riot Games  League of Legends                 -3714671

### Data Structure
#### I created a merged dataframe that I can call on that contains all the data I collected. I converted it into a .csv because thats what I know how to work with. This will let me easily access the data for whatever charts I end up using in my analysis.

In [79]:
final_project_data = pd.merge(layoffs_df, playercount_df, on='Studio')

In [80]:
final_project_data.to_csv('data_in_hand.csv')

In [81]:
af = pd.read_csv('data_in_hand.csv')
af

,Unnamed: 0,Studio,Layoffs,Game,Player Count Difference
0,0,Bungie,100,Destiny 2,129147
1,1,EA,800,FIFA 21-23,67024
2,2,343 Industries,95,Halo Infinite,-129779
3,3,Amazon Games,100,New World,-835385
4,4,Riot Games,46,League of Legends,-3714671